version: '3.4'

services:
  transmission:
    volumes:
      - '/home/media/share:/downloads'
      - '/home/media/share/torrents:/torrents'
      - 'transmission:/root/.config/transmission-daemon/'
  gerbera:
    volumes:
      - 'gerbera:/var/lib/gerbera'
      - '/home/media/share:/media'

volumes:
  gerbera:
  transmission: