version: '3.4'

services:
  buildmachine:
#    build: buildmachine
    image: sensorhome.tk:5000/buildmachine
  transmission:
#    build: transmission
    image: sensorhome.tk:5000/transmission
    ports:
      - 9091:9091
  gerbera:
#    build: gerbera
    image: sensorhome.tk:5000/gerbera:0.0.1
    network_mode: "host"
    ports:
      - 49152:49152
      - 1900:1900/udp
